# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
ELNJDASH_POSTGRES_URL=
ELNJDASH_POSTGRES_PRISMA_URL=
ELNJDASH_POSTGRES_URL_NON_POOLING=
ELNJDASH_POSTGRES_USER=
ELNJDASH_POSTGRES_HOST=
ELNJDASH_POSTGRES_PASSWORD=
ELNJDASH_POSTGRES_DATABASE=

# `openssl rand -base64 32`
ELNJDASH_AUTH_SECRET=
ELNJDASH_AUTH_URL=http://localhost:3000/api/auth